<!-- <img src="{{partyDetails.party.img}}" width='100%'> The party you selected is: {{partyDetails.party.name}}<br> Description: {{partyDetails.party.description}}
<form>
    Party name: <input type="text" ng-model="partyDetails.party.name" /> Description: <input type="text" ng-model="partyDetails.party.description" /> Public Party? <input type="checkbox" ng-model="partyDetails.party.public">
    <button ng-click="partyDetails.save()">Save</button>
</form>

<button ui-sref="parties">Back</button>

<party-uninvited party="partyDetails.party"></party-uninvited>


<ul>
    Users:
    <li ng-repeat="user in partyDetails.users">
        <div>{{ user.emails[0].address }}</div>
    </li>
</ul> -->
<div class="row" style="padding-left:10%">
    <div class="">
        <div class="col l7">
            <div class="card">
                <div class="card-image">
                    <img style="height:350px;" src="{{partyDetails.party.img}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{partyDetails.party.name}}<i  ng-if="partyDetails.invite()" style="color:#ff6e40" class=" material-icons  right ">group_add</i></span>
                    <!-- <p><input type="checkbox" class="filled-in" id="filled-in-box" /> -->
                    <!-- <label for="filled-in-box">I am going</label></p> -->
                    <party-rsvp party="partyDetails.party"></party-rsvp>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="material-icons right">close</i></span>
                    <party-uninvited-users party="partyDetails.party">
                        <party-uninvited-users>
                </div>
            </div>
            <div class="card">
                <!-- <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div> -->
                <div class="card-tabs">
                    <ul class="tabs">
                        <li class="tab"><a href="#test4">Description</a></li>
                        <li class="tab"><a href="#test5">Timings</a></li>
                        <li class="tab"><a href="#test6">Location</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="test4" class="col l12">{{partyDetails.party.description}}</div>
                    <div id="test5" class="col m12">{{partyDetails.party.time}}</div>
                    <div id="test6" class="col l12">Test 3</div>
                </div>
            </div>
        </div>
        <div class="col l3">
            <div class="card" style="height:460px">

                <h5>Party Owner</h5>
                <party-creator party="partyDetails.party"></party-creator>

                <hr>


                <party-rsvps-list rsvps="partyDetails.party.rsvps"></party-rsvps-list>

            </div>
        </div>

    </div>
</div>
