<div class="container">
    <div class="row">
        <label style="font-size:24px" for="title">Party title</label><br>
        <textarea id="title" type="textarea" ng-model="partyAdd.party.name"></textarea>
    </div>
    <div class="row">
        <label style="font-size:24px" for="description">
          Image url
        </label><br>
        <textarea type="textarea" ng-model="partyAdd.party.img"></textarea>
    </div>
    <div class="row">
        <label style="font-size:24px" for="description">
          Description
        </label><br>
        <textarea rows="4" cols="32" type="textarea" ng-model="partyAdd.party.description"></textarea>
    </div>
    <label>
    Public Party?
</label>
    <input type="checkbox" ng-model="partyAdd.party.public">
    <button ng-click="partyAdd.submit()">Add Party!</button>
</div>
