<div class="row">
    <div class="navbar-fixed" style="z-index: 1;">
        <nav class="z-depth-2" style="background-color:white;">
            <div class="nav-wrapper col l11" style="padding-left:11%; padding-right:7%;">
                <a href="/parties"><img style="height:80%" src="/logoImage/3.png"/>
               <ul id="nav-mobile" class="right hide-on-med-and-down">

                  <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add Party" id="add" style="color:#e53935" href="/add"><i class="small material-icons " >add_box</i></a></li>
                <li><a><i style="color:#e53935" class="small material-icons">notifications</i></a></li>

                <li><a style="color:#e53935" href="/login"><i class="small material-icons">account_circle</i></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- style="background-color:#ef9a9a" -->
