<ul style="list-style-type: none; overflow: hidden; background-color: transparent; color: white;">
    <li style='float:left; padding: 14px 16px;  '>
        <a style="color:white" href="/parties">Home</a>
    </li>

    <li style=' float:right; padding: 14px 16px; '>
        <a style="color:white" href="/login"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
    </li>
    <li style='float:right; padding: 14px 16px; color:white '>
        <a style="color:white" href="/add">Addparty</a>
    </li>
</ul>
